{% extends "base.html" %}

{% block main %}

        <div class="app">
            <section class="container box medium sheet">
                <header class="settings">
                    <h1 class="sheet">{{ weekday }}</h1>
                </header>
                <section class="content">
                    <div class="extend-sheet">
                        <span id="extend-sod">+</span>
                    </div>
                    <table class="sheet" id="sheet" data-sheet-date="{{ date }}">
                        <tbody>
                            <!-- render all hours, hide some -->
                            {% for index, quarter in enumerate(quarters) %}
                                
                                {% if (index == 0) or (index % 4 == 0) %}
                                    {% if index == 0 %}
                                        </tr>
                                    {% end %}
                                    <tr>
                                        <th class="time">{{ int(index/4) }}:00</th>
                                {% end %}

                                <td class="activity"><span class="activity-cell" data-activity-id="-1">&nbsp;</span></td>

                                {% if index == 98 %}
                                    </tr>
                                {% end %}

                            {% end %}
                        </tbody>
                    </table>
                    <div class="extend-sheet">
                        <span id="extend-eod">+</span>
                    </div>
                </section>
            </section>

            <section class="container widgets date-picker">
                <section class="container box small widget">
                    <section class="content">
                        <a href="/sheet/{{ yesterday }}" id="previous-date" class="date">&lt;</a>
                        <span id="datepicker" class="picker">{{ date }}</span>
                        <a href="/sheet/{{ tomorrow }}" id="next-date" class="date">&gt;</a>
                    </section>
                </section>

                <section class="container box small widget time-summary">
                    <section class="content">
                        <div class="total-time">
                            <span id="summary-hours">2</span>
                            <span class="unit">hours</span>
                        </div>
                        <table>
                            <tbody id="sheet-summary">
                                <tr data-activity-id="">
                                    <td class="value">1.5</td>
                                    <td class="activity">One</td>
                                </tr>
                                <tr data-activity-id="">
                                    <td class="value">0.5</td>
                                    <td class="activity">Another</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </section>

                <section class="container box small widget activity">
                    <section class="content">
                        <h2>Activity</h2>
                            <div id="current-activity" class="activity">
                                <div class="activity-color">
                                    <input class="palette" type="text" value="" style="background-color: #fff;" disabled />
                                </div>
                                <div class="activity-title">No work</div>
                            </div>
                        
                        {% if activities %}
                        <div id="available-activities">
                        
                        {% for activity in activities %}
                            <div class="activity" data-activity-id="{{ activity['id'] }}" data-activity-color="{{ activity['color'] }}" data-activity-title="{{ activity['title'] }}">
                                <div class="activity-color">
                                    <input class="palette" type="text" value="" style="background-color: {{ activity['color'] }};" disabled />
                                </div>
                                <div class="activity-title">{{ activity['title'] }}</div>
                            </div>
                        {% end %}

                        </div>
                        {% end %}
                        
                    </section>
                </section>

                <section class="container box small widget">
                    <section class="content">
                        <h2>Help</h2>
                        <ul>
                            <li>Double click to reset a quarter</li>
                            <li>Right click to select an activity</li>
                        </ul>
                    </section>
                </section>
            </section>
        </div>
        <div class="clear-fix"></div>
{% end %}