{% extends "base.html" %}

{% block main %}
    <section class="container box medium">
        <header class="profile">
            <h1>Change password</h1>
        </header>
        <section class="content">
            <form id="password-form" action="/password" method="POST" data-validation>
                <fieldset>
                    <label for="current-password">Current password</label>
                    <input type="password" name="current-password" id="current-password"
                        autofocus="autofocus"
                        data-validator="required password"
                        data-validator-on="focus-loss" />
                </fieldset>
                <fieldset>
                    <label for="new-password">New password</label>
                    <input type="password" name="new-password" id="new-password"
                        data-validator="required password"
                        data-validator-on="focus-loss" />
                </fieldset>
                <fieldset>
                    <label for="verify-password">Verify new password</label>
                    <input type="password" name="verify-password" id="verify-password"
                        data-validator="required password mirror"
                        data-validator-on="focus-loss"
                        data-validator-mirror="new-password" />
                </fieldset>
                <fieldset>
                    <button type="submit">Update</button>
                </fieldset>
            </form>

            {% if error == "not_valid" %}
                <div class="error-message note">
                    <p>The given password is not valid</p>
                </div>
            {% elif error == "not_matching" %}
                <div class="error-message note">
                    <p>Passwords does not match</p>
                </div>
            {% elif error == "success" %}
                <div class="message note">
                    <p>Password updated successfully!</p>
                </div>
            {% end %}
        </section>
    </section>
{% end %}