{% extends "base.html" %}

{% block main %}
    <section class="container box wide report">
        <header class="report">
            <h1>Report</h1>
        </header>
        <section class="content">
            <form action="/report" method="POST" data-validation>
                <div class="setting-group">
                   <p>Create a report for the given time interval. The report will generate a table per week, containing the time spent on each activity for each day during that week.</p>
                   <fieldset>
                        <label for="start-date">Start date</label>

                        {% if start != None and len(start) > 0 %}
                        <input type="text" id="start-date" class="datepicker" name="start-date"
                            placeholder="YYYY-MM-DD" autocomplete="off" value="{{ start }}"
                            autofocus="autofocus" data-validator="required date" data-validator-on="focus-loss" />
                        {% else %}
                        <input type="text" id="start-date" class="datepicker" name="start-date"
                            placeholder="YYYY-MM-DD" autocomplete="off"
                            autofocus="autofocus" data-validator="required date" data-validator-on="focus-loss" />
                        {% end %}

                        {% if error == "start_date_not_valid" %}
                            <div class="error-message">Invalid date format (YYYY-MM-DD)</div>
                        {% end %}
                    </fieldset>
                    <fieldset>
                        <label for="end-date">End date</label>

                        {% if end != None and len(end) > 0 %}
                        <input type="text" id="end-date" class="datepicker" name="end-date"
                            placeholder="YYYY-MM-DD" autocomplete="off" value="{{ end }}"
                            data-validator="required date" data-validator-on="focus-loss"  />
                        {% else %}
                        <input type="text" id="end-date" class="datepicker" name="end-date"
                            placeholder="YYYY-MM-DD" autocomplete="off"
                            data-validator="required date" data-validator-on="focus-loss"  />
                        {% end %}

                        {% if error == "end_date_not_valid" %}
                            <div class="error-message">Invalid date format (YYYY-MM-DD)</div>
                        {% elif error == "end_date_not_later" %}
                            <div class="error-message">End date must be greater than the start</div>
                        {% end %}
                    </fieldset>
                </div>
                <fieldset class="wide">
                    <button type="submit">Generate report</button>
                </fieldset>
            </form>
            <div class="clear-fix"></div>
            {% if weeks %}
            {% for week in weeks %}
                <h3>Week {{ week.week_of_year() }}</h3>

                <table class="week">
                    <thead>
                        <th class="activity"></th>
                        <th>Mo</th><th>Tu</th><th>We</th><th>Th</th><th>Fr</th><th>Sa</th><th>Su</th><th>Total</th>
                    </thead>
                    <tbody>
                        {% for activity in week.get_weeks_activities() %}
                        <tr>
                            <th>{{ activities[int(activity.id)].title }}</th>

                            {% for timesheet in week %}
                                <td>{{ timesheet.time(activity.id) }}</td>
                            {% end %}
                            
                            <td class="summary">{{ activity.amount }}</td>
                        </tr>
                        {% end %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Total</th>
                            {% for timesheet in week %}
                            <td>{{ timesheet.total() }}</td>
                            {% end %}
                            <td class="summary">{{ week.total() }}</td>
                        </tr>
                    </tfoot>
                </table>


            {% end %}
            {% end %}
        </section>
    </section>
{% end %}