{% extends "base.html" %}

{% block main %}

        <div class="app">
            <section class="container box medium sheet">
                <header class="settings">
                    <h1 class="sheet">{{ weekday }}</h1>
                </header>
                <section class="content">
                    <div class="extend-sheet">
                        <span id="extend-sod">+</span>
                    </div>
                    <table class="sheet" id="sheet" data-sheet-date="{{ date }}">
                        <tbody>
                            {% for index, quarter in enumerate(quarters) %}
                                {% if (index == 0) or (index % 4 == 0) %}
                                    {% if index == 0 %}
                                        </tr>
                                    {% end %}
                                    <tr>
                                        <th class="time">{{ int(index/4) }}:00</th>
                                {% end %}

                                <td class="activity"><span class="activity-cell" data-activity-id="{{ quarter['id'] }}" style="background-color: {{ quarter['color'] }}; border-color: {{ quarter['border-color'] }};">&nbsp;</span></td>

                                {% if index == 98 %}
                                    </tr>
                                {% end %}
                            {% end %}
                        </tbody>
                    </table>
                    <div class="extend-sheet">
                        <span id="extend-eod">+</span>
                    </div>
                </section>
            </section>

            <section class="container widgets date-picker">
                <section class="container box small widget">
                    <section class="content">
                        <a href="/sheet/{{ yesterday }}" id="previous-date" class="date">&lt;</a>
                        <span id="datepicker" class="picker">{{ date }}</span>
                        <a href="/sheet/{{ tomorrow }}" id="next-date" class="date">&gt;</a>
                    </section>
                </section>

                <section class="container box small widget time-summary">
                    <section class="content">
                        <div class="total-time">
                            <span id="summary-hours">{{ summary_total }}</span>
                            <span class="unit">hours</span>
                        </div>
                        <table id="sheet-summary">
                            <tbody>
                            {% if summary %}                        
                                {% for index, activity in enumerate(summary) %}
                                <tr data-activity-id="{{ activity['id'] }}" style="color: {{ activity['color'] }};">
                                    <td class="value">{{ activity["sum"] }}</td>
                                    <td class="activity">{{ activity["title"] }}</td>
                                </tr>
                                {% end %}
                            {% end %}
                            </tbody>
                        </table>
                    </section>
                </section>

                <section class="container box small widget activity">
                    <section class="content">
                        <h2>Activity</h2>
                            <div id="current-activity" class="activity">
                                <div class="activity-color">
                                    <label class="palette" style="background-color: #fff;" data-disabled="true"></label>
                                </div>
                                <div class="activity-title">No work</div>
                            </div>

                        {% if activities %}
                            <div id="available-activities">
                                <div class="activity" data-activity-id="-1" data-activity-color="#fff" data-activity-title="No work">
                                    <div class="activity-color">
                                        <label class="palette" style="background-color: #fff;" data-disabled="true"></label>
                                    </div>
                                    <div class="activity-title">No work</div>
                                </div>
                                {% for activity in enabled_activities %}
                                    <div class="activity" data-activity-id="{{ activity.id }}" data-activity-color="{{ activity.color.hex() }}" data-activity-title="{{ activity.title }}">
                                        <div class="activity-color">
                                            <label class="palette" style="background-color: {{ activity.color.hex() }};" data-disabled="true"></label>
                                        </div>
                                        <div class="activity-title">{{ activity.title }}</div>
                                    </div>
                                {% end %}
                            </div>
                        {% end %}
                    </section>
                </section>
            </section>
        </div>
        <div class="clear-fix"></div>
{% end %}