# OSX
.DS_Store

# Python
*.py[co]
dist/
MANIFEST

# Sublime editor
*.sublime-project
*.sublime-workspace

# quarterapp configuration files
quarterapp.conf

# Minified resource used by binary
quarterapp.min.js
quarterapp.min.css
