{% extends "base.html" %}

{% block main %}
    <section class="container box wide">
        <header class="settings">
            <h1>Statistics</h1>
        </header>
        <section class="content">
            <div class="setting-group">
                <div class="setting-control">
                    <div class="metric">36</div>
                </div>
                <div class="setting-description">
                    <strong>Registered users</strong>
                    <p class="note">Number of users that has an active user accout.</p>
                </div>
                <div class="clear-fix"></div>
            </div>
            <div class="setting-group">
                <div class="setting-control">
                    <div class="metric">5</div>
                </div>
                <div class="setting-description">
                    <strong>Signups</strong>
                    <p class="note">Number of users that have signed up but not activated their account.</p>
                </div>
                <div class="clear-fix"></div>
            </div>
            <div class="setting-group">
                <div class="setting-control">
                    <div class="metric">136075</div>
                </div>
                <div class="setting-description">
                    <strong>Quarters reported</strong>
                    <p class="note">Total number of quarters reported in this system.</p>
                </div>
                <div class="clear-fix"></div>
            </div>    
        </section>
    </section>
{% end %}