{% extends "base.html" %}

{% block main %}
    <section class="container box wide">
        <header class="settings">
            <h1>Users</h1>
        </header>
        <section class="content">
            <form id="user-settings">
                <div class="setting-group">
                   <p>Filter the user table on username, if empty all users will be listed. By default no users will be listed to avoid unnessesary queries. Also, you can <a href="/admin/new-user">create a new user account</a> without the need for activation.</p>
                </div>
                <div class="setting-group">
                    <div class="setting-control"><fieldset>
                        <label for="user-filter">Username</label>
                        <input type="text" id="user-filter" name="user-filter" required />
                        <button type="submit">Filter</button>
                        <button type="submit" disabled="disabled">Clear</button>
                    </div>
                    <div class="clear-fix"></div>
                </div>
            </form>
            <div class="clear-fix"></div>

            {% if error %}
            <div class="error-message note">
                <p>An error occured, could not read users!</p>
            </div>
            {% else %}

            <table id="users" class="users">
                <thead>
                    <th class="username">Username</th>
                    <th class="login">Last login</th>
                    <th class="type">Type</th>
                    <th class="disable">Disable</th>
                    <th class="delete">Delete</th>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user['username'] }}</td>
                        <td>{{ user['last_login'] }}</td>
                        
                        {% if user['type'] == 0 %}
                            <td class="type">User</td>
                        {% else %}
                            <td class="type">Admin</td>
                        {% end %}

                        {% if user['state'] == 0 %}
                            <td class="disable"><a href="/admin/enable/{{ user['username'] }}"
                                onclick="quarterapp.admin.enable_user(this, '{{ user['username'] }}'); return false;">enable</a></td>
                        {% else %}
                            <td class="disable"><a href="/admin/disable/{{ user['username'] }}"
                                onclick="quarterapp.admin.disable_user(this, '{{ user['username'] }}'); return false;">disable</a></td>
                        {% end %}
                        <td class="delete"><a href="/admin/delete/{{ user['username'] }}"
                            onclick="quarterapp.admin.delete_user(this, '{{ user['username'] }}'); return false;">delete</a></td>
                    </tr>
                    {% end %}
                </tbody>
            </table>
            {% end %}

            {% if len(pagination) > 1 %}
                <div class="pagination">
                {% for page in pagination %}
                    {% if page['current'] == True %}
                        <a href="{{ page['link'] }}" class="current">{{ page['index'] }}</a>
                    {% else %}
                        <a href="{{ page['link'] }}">{{ page['index'] }}</a>
                    {% end %}
                {% end %}
                </div>
            {% end %}
        </section>
    </section>
{% end %}