<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Quarterapp</title>
        
        <meta name="description" content="Time tracker that helps you remember what you have done." />
        <meta name="author" content="markus.eliasson@gmail.com" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />

        <link rel="shortcut icon" href="/favicon.ico" />
        {% if options.compressed_resources %}
            <link rel="stylesheet" media="all" href="/static/styles/quarterapp.min.css" />
        {% else %}
            <link rel="stylesheet" media="all" href="/static/styles/reset.css" />
            <link rel="stylesheet" media="all" href="/static/styles/quarterapp.css" />
        {% end %}
    </head>
    <body>
        <header id="header-region">
            <div class="container wide">
                <div id="logo">
                    <a href="/" title="Quarterapp"><h1>quarterapp</h1></a>
                </div>
                <nav>
                    <ul>
                        <li><a href="/login">Login</a></li>
                    </ul>
                </nav>
                <div class="clear-fix"></div>
            </div>
        </header>

        <div id="main-region">
            {% block main %}{% end %}
        </div>
        <div class="clear-fix"></div>
        <footer id="footer-region">
            <div class="container">
                <p class="note">Copyright &copy; 2013 <a href="mailto:markus.eliasson@gmail.com">Markus Eliasson</a> - All rights reserved.</p>
            </div>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        {% if options.compressed_resources %}
            <script src="/static/scripts/quarterapp.min.js"></script>
        {% else %}
            <script src="/static/libraries/jquery.validator.js"></script>
            <script src="/static/scripts/quarterapp.js"></script>
        {% end %}

        {% if options.google_analytics %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ options.google_analytics }}']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        {% end %}
    </body>
</html>
