{% extends "base.html" %}

{% block main %}

            <section class="container box medium">
                <header class="general">
                    <h1>Login</h1>
                </header>
                <section class="content">
                    <form id="login-form" action="/login" method="POST" data-validation>
                        <fieldset>
                            <label for="username" class="">Username</label>
                            <input type="text" name="username" id="username"
                                data-validator="required email"
                                data-validator-on="focus-loss" />
                        </fieldset>
                        <fieldset>
                            <label for="password" class="">Password</label>
                            <input type="password" name="password" id="password"
                                data-validator="required"
                                data-validator-on="focus-loss" />
                        </fieldset>
                        <fieldset>
                            <button type="submit">Login</button>
                        </fieldset>
                    </form>
                    {% if error == "unauthenticated" %}
                        <div class="error-message note">
                            <p>The given login is not valid</p>
                        </div>
                    {% end %}

                    {% if allow_signups == "1" %}
                        <p class="note">Do you want to <a href="/signup">signup</a> for a free account, or did you <a href="/forgot">forget</a> your login details?</a>
                    {% else %}
                        <p class="note">Did you <a href="/forgot">forget</a> your login details?</a>
                    {% end %}
                </section>
            </section>
{% end %}
