{% extends "base.html" %}

{% block main %}
            <section class="container box medium">
                <header class="general">
                    <h1>Reset password</h1>
                </header>
                <section class="content">
                    <p>Enter the password code you received in the e-mail and the password you want to reset your password.</p>
                    <form id="signup-form" action="/reset" method="POST" data-validation>
                        <fieldset>
                            <label for="code" class="">Code</label>
                            {% if code != None and len(code) > 0 %}
                                <input type="text" name="code" id="code"
                                    data-validator="required"
                                    data-validator-on="focus-loss" 
                                    value="{{ code }}"
                                    autofocus="autofocus" />
                            {% else %}
                                <input type="text" name="code" id="code"
                                    data-validator="required"
                                    data-validator-on="focus-loss"
                                    autofocus="autofocus" />
                            {% end %}
                        </fieldset>
                        <fieldset>
                            <label for="password">New password</label>
                            <input type="password" name="password" id="password"
                                data-validator="required password"
                                data-validator-on="focus-loss" />
                        </fieldset>
                        <fieldset>
                            <label for="verify-password">Verify password</label>
                            <input type="password" name="verify-password" id="verify-password"
                                data-validator="required password mirror"
                                data-validator-on="focus-loss"
                                data-validator-mirror="password" />
                        </fieldset>
                        <fieldset>
                            <button type="submit">Reset</button>
                        </fieldset>
                    </form>

                    {% if error == "not_valid" %}
                        <div class="error-message note">
                            <p>The given password code is not valid</p>
                        </div>
                    {% elif error == "not_matching" %}
                        <div class="error-message note">
                            <p>Passwords does not match</p>
                        </div>
                    {% elif error != None %}
                        <div class="error-message note">
                            <p>An error occured - could not reset your password!</p>
                        </div>
                    {% end %}
                </section>
            </section>
{% end %}
