{% extends "base.html" %}

{% block main %}

            <section class="container box medium">
                <header class="general">
                    <h1>Check your e-mail</h1>
                </header>
                <section class="content">
                    <p>We just sent you an activation link to the e-mail address you just entered. Follow that link and you
                        will be able to complete your account.</p>
                </section>
            </section>
{% end %}
