{% extends "base.html" %}

{% block main %}

    <section class="container medium">

        <h1>Terms and conditions</h1>

        <p>Short and simple, this service is free and will not give you any guarentees and will not be responsible for any errors.<p>
        <ul>
            <li>There is no service level agreement, although Quarerapp Team will do our best to keep the service online 24/7</li>
            <li>Quarterapp Team only stores your quarters, we do nothing with that data</li>
            <li>Quarterapp Team store your password hashed, using separate salts for each account</li>
            <li>Quarterapp Team will never sell or give away your account details, such as e-mail</li>
            <li>Quarterapp Team can terminate any account whenever they see fit</li>
            <li>Quarterapp Team can shut down this service whenver they want</li>
        </ul>
    </section>

{% end %}
