<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Quarterapp</title>
        
        <meta name="description" content="Time tracker that helps you remember what you have done." />
        <meta name="author" content="markus.eliasson@gmail.com" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />

        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="stylesheet" media="all" href="/styles/quarterapp.css" />
    </head>
    <body>
        
    </body>
</html>
